<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/css/master.css">
	<script type="text/javascript" src="/js/datetimepicker_css.js"></script>
	<title></title>
</head>
<body>
<header>
	<h1>Invite a Homie</h1>
</header>
<nav class="main-nav">
	<ul>
		<li><a href="/user">Profile</a></br></li>
		<li><a href="/user/yelp/">Make a search</a></li>
		<li><a href="/user/add">Add Friend</a></li>
		<li><a href="/user/edit">Edit Profile</a></li>
		<li><a href="/user/logout">Logout</a></li>
	</ul>
</nav>

	<div id="container">
		<a href="<%= data.url %>"><%= data.name%></a> </br>
		<b>Phone Number: </b> <%= data.display_phone %> </br>
		<b>Address: </b> <% for (i = 0; i < data.location.display_address.length; i++) { %>
			<%= data.location.display_address[i] + "," %>
		<% } %> </br>
		<b>Cusine: </b> <% for (i = 0; i < data.categories.length; i++) { %>
			<%= data.categories[i][0] + ", " %>
		<% } %> </br>
		<img src="<%= data.rating_img_url %>">
		<div id="map"></div>
			<form action="/user/twilio" method="POST">
			<!-- <input type="text" name="first_name" placeholder="First Name"></br> -->
			<!-- <input type="text" name="last_name" placeholder="Last Name"></br> -->
			<!-- <input type="text" name="email" placeholder="E-mail"></br> -->
			<input type="hidden" class="typeform" name="restaurant_name" value="<%= data.name %>">
			<input type="hidden" class="typeform" name="address" value="<%= data.location.address %>">
			<input type="hidden" class="typeform" name="city" value="<%= data.location.city %>">
			<input type="text" class="typeform" name="date" id="demo7" maxlength="25" size-"25" placeholder="Pick a date">
			<img src="/images/cal.gif" onclick="javascript:NewCssCal ('demo7','MMMddyyyy','dropdown',true,'24','','future')" style="cursor:pointer"/></br>
			<input type="text" class="typeform" name="friends" placeholder="Friend's Name"></br>
			<input type="text" class="typeform" name="phone_number" placeholder="Phone Number"></br>
			<button type="submit" class="bottom-buttons">Send request</button>
			<button class ="bottom-buttons" type="reset">Reset</button>
		</form></br>
		<a href="javascript:history.back()">Go back</a>
	</div>

   <script>
      function initMap() {
        var mapDiv = document.getElementById('map');
        var myLatLong = {lat:<%=data.location.coordinate.latitude%>, lng:<%=data.location.coordinate.longitude%>};
        var map = new google.maps.Map(mapDiv, {
          center: myLatLong,
          zoom: 16
        });
        var marker = new google.maps.Marker({
			    position: myLatLong,
			    map: map
			  });
      }
    </script>
<script src="https://maps.googleapis.com/maps/api/js?callback=initMap" async defer></script>
</body>
</html>

